<body>
<div id="journalpage" class="bg-grid btn-grid d-none">
  <div id="journalheader">
    <button type="button" id="closeDiv" class="float-end btn-grid"><i class="bi-x-lg"></i></button>
  </div>
  <p>A janela de fichas ainda está em desenvolvimento</p>
  <img src="/img/001.svg" width="100%" alt="Logotipo Dicenders">
</div>

<div id="chatpage" class="bg-grid d-none">
  <div id="chatheader">
    <button type="button" id="closeDiv" class="float-end btn-grid"><i class="bi-x-lg"></i></button>
  </div>
  <p>A janela de chat ainda está em desenvolvimento</p>
  <img src="/img/001.svg" width="100%" alt="Logotipo Dicenders">
</div>

<div id="dicepage" class="bg-grid btn-grid flex-column d-none" style="width: 30vw;">
  <div id="diceheader">
    <button type="button" id="closeDiv" class="float-end btn-grid"><i class="bi-x-lg"></i></button>
  </div>
  <div class="container-fluid position-relative text-clean text-dm" style="height: 100%;">
      <div id="dices" class="d-flex justify-content-around my-2">
        <button type="submit" class="btn-grid text-soft-ldm text-center" style="width: 2.4rem;" value="4">4</button>
        <button type="submit" class="btn-grid text-soft-ldm text-center" style="width: 2.4rem;" value="6">6</button>
        <button type="submit" class="btn-grid text-soft-ldm text-center" style="width: 2.4rem;" value="8">8</button>
        <button type="submit" class="btn-grid text-soft-ldm text-center" style="width: 2.4rem;" value="10">10</button>
        <button type="submit" class="btn-grid text-soft-ldm text-center" style="width: 2.4rem;" value="12">12</button>
        <button type="submit" class="btn-grid text-soft-ldm text-center" style="width: 2.4rem;" value="20">20</button>
        <button type="submit" class="btn-grid text-soft-ldm text-center" style="width: 2.4rem;" value="100">100</button>
    </div>
    <hr>
        <p id="dNum" class="text-ldm text-break">Clique em um dos valores acima</p>
        <hr>
        <button type="submit" class="btn-grid" style="width: 4rem !important:" id="bonus" onclick="som()"><i class="bi-plus"></i></button>
        <p id="visualBonus" class="text-ldm text-break">Seu bônus fica aqui</p>
        <button type="submit" class="btn-grid" style="width: 4rem !important:" id="onus" onclick="sub()"><i class="bi-dash"></i></button>
    <hr class="my-2">
    <p id="result" class="text-ldm text-break">Resultado</p>
    <p id="soma" class="text-ldm text-break">Soma</p>
    <button type="submit" class="btn-grid text-ldm" onclick="roll()">Roll</button>
    <button type="submit" class="btn-grid text-ldm" onclick="clearS()">Clear</button>
  </div>
</div>

<div id="notespage" class="bg-grid btn-grid d-none">
  <div id="notesheader">
    <button type="button" id="closeDiv" class="btn-grid float-end"><i class="bi-x-lg"></i></button>
  </div>
  <p>A janela de notas ainda está em desenvolvimento</p>
  <img src="/img/001.svg" width="100%" alt="Logotipo Dicenders">
</div>
<h1 id="moving" style="z-index: 999; max-width:100px; word-break:break-all;" class="text-clean position-absolute text-ldm bg-grid p-1 mb-0 rounded-3 ms-1 d-none">QUAL FOI</h1>
    <div class="position-absolute">      
      <div class="bg-grid btn-grid d-flex position-relative m-3 flex-row">
        <button class="m-1 btn-grid p-2" onclick="window.location.href='/home'"><img src="/img/001.svg" alt=""></button>
        <button class="m-1 btn-grid p-2"><i class="bi-person" style="font-size: 1.5rem;"></i></button>
        <button class="m-1 btn-grid p-2" id="optChevron"><i class="bi-chevron-down" style="font-size: 1.5rem;"></i></button>
      </div>
      <div class="bg-grid btn-grid d-flex position-relative m-3 flex-row d-none top-0" id="optButtons">
        <button class="m-1 btn-grid" id="journalbtn"><i class="bi-journal"></i></button>
        <button class="m-1 btn-grid" id="chatbtn"><i class="bi-chat-right-dots-fill"></i></button>
        <button class="m-1 btn-grid" id="diceBtn"><i class="fa-solid fa-dice-d20"></i></button>
        <button class="m-1 btn-grid" id="notesbtn"><i class="bi-stickies-fill"></i></button>
      </div>
    </div>
    <div class="bg-grid btn-grid position-fixed d-flex end-0 my-4 mx-3 flex-column">
      <div class="dropdown">
        <button class="d-flex btn-grid p-2 justify-content-center" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false" style="min-width: 50px !important;"><i class="bi-chevron-down"></i></button>
        <ul class="dropdown-menu dropmenu-buttons">
          <li>
            <button class="bi-plus-lg" id="addnew" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="Criar elemento"></button>
          </li>
          <li>
            <button class="bi-trash-fill" id="delete" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="Excluir tudo"></button>
          </li>
          <li>
            <button class="bi bi-floppy-fill" id="save" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="Salvar"></button>
          </li>
          <li>
            <button class="bi-upload" id="load" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="Carregar"></button>
          </li>
          <li>
              <input type="checkbox" id="dragmode" name="dragmode" class="d-none">
              <label for="dragmode" id="draglabel" class="bi-cursor-fill" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="Arrastar tabuleiro"></label>
          </li>
          <li>
            <label for="uploader" class="bi-image" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="Inserir imagem"></label>
            <input id="uploader" type="file" class="hidden-input" multiple>
          </li>
          <li>
            <label for="map" class="bi-folder-plus" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="Inserir mapa"></label>
            <input id="map" type="file" class="hidden-input" multiple>
          </li>
        </ul>
      </div>
    </div>

    <div class="bg-grid btn-grid rounded-3 position-fixed d-flex bottom-0 m-3 l-2 b-5">
      <div class="dropdown">
        <button class="d-flex btn-grid rounded-3 border-0 justify-content-center" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false"><i class="bi-three-dots-vertical"></i></button>
        <ul class="dropdown-menu dropmenu-buttons">
          <li id="lineW" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="Linhas claras">
            <span></span>
          </li>
          <li id="lineP" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="Linhas roxas">
            <span></span>
          </li>
          <li id="lineB" data-bs-toggle="popover" data-bs-custom-class="custom-popover" data-bs-trigger="hover" data-bs-placement="right" data-bs-content="Linhas escuras">
            <span></span>
          </li>
        </ul>
      </div>
    </div>

    <!---Menu de contexto do site-->
    <div id="contextMenu" style="display: none">
      <ul>
        <li id="deleteob"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></li>
        <li id="bringToFrontButton"><i class="fa-solid fa-arrow-up" style="color: #ffffff;"></i></li>
        <li id="sendToBackButton"><i class="fa-solid fa-arrow-down" style="color: #ffffff;"></i></li>
        <li id="copy"><i class="fa-solid fa-copy" style="color: #ffffff;"></i></li>
        <li id="paste"><i class="fa-solid fa-paste" style="color: #ffffff;"></i></li>
        <li id="lock"><i class="fa-solid fa-unlock" style="color: #ffffff;"></i></li> 
      </ul>
    </div>

    <canvas id="grid"></canvas>
    <script src="/socket.io/socket.io.js"></script>
    <script defer>
    
    const socket = io({
      auth: {
        usertag: `{{usertag}}`,
        link: `{{link}}` 
      }
    })

      //trocar icone do arrastar tabuleiro
      var dragmode = document.getElementById("dragmode");
      const draglabel = document.getElementById("draglabel");
      const btnopen = document.getElementById("optChevron");
      const btnoptions = document.getElementById("optButtons");
      const journalbtn = document.getElementById("journalbtn");
      const journaldiv = document.getElementById("journalpage");
      const journaldivheader = document.getElementById("journalheader");
      const chatbtn = document.getElementById("chatbtn");
      const chatdiv = document.getElementById("chatpage");
      const chatdivheader = document.getElementById("chatheader");
      const dicebtn = document.getElementById("diceBtn");
      const dicediv = document.getElementById("dicepage");
      const dicedivheader = document.getElementById("diceheader");
      const notesbtn = document.getElementById("notesbtn");
      const notesdiv = document.getElementById("notespage");
      const notesdivheader = document.getElementById("notesheader");

      dragmode.addEventListener("change", () => {
        if(dragmode.checked === true){
          draglabel.classList.replace("bi-cursor-fill", "bi-hand-index-fill");
        } else{
          draglabel.classList.replace("bi-hand-index-fill", "bi-cursor-fill");
        }
      })

      btnopen.addEventListener("click", () => {
        if(btnopen.firstChild.classList.contains("bi-chevron-down")){
          btnopen.firstChild.classList.replace("bi-chevron-down", "bi-chevron-up");
          btnoptions.classList.remove("d-none");
        } else{
          btnopen.firstChild.classList.replace("bi-chevron-up", "bi-chevron-down");
          btnoptions.classList.add("d-none");
        }
      })

      journalbtn.addEventListener("click", () => {
        if(journaldiv.classList.contains("d-none")){
          journaldiv.classList.remove("d-none");
        } else{
          journaldiv.classList.add("d-none");
        }
      })

      journaldivheader.firstElementChild.addEventListener("click", () => {
          journaldiv.classList.add("d-none");
      })

            chatbtn.addEventListener("click", () => {
        if(chatdiv.classList.contains("d-none")){
          chatdiv.classList.remove("d-none");
        } else{
          chatdiv.classList.add("d-none");
        }
      })

      chatdivheader.firstElementChild.addEventListener("click", () => {
          chatdiv.classList.add("d-none");
      })

            dicebtn.addEventListener("click", () => {
        if(dicediv.classList.contains("d-none")){
          dicediv.classList.replace("d-none", "d-flex");
        } else{
          dicediv.classList.replace("d-flex", "d-none");
        }
      })

      dicedivheader.firstElementChild.addEventListener("click", () => {
          dicediv.classList.add("d-none");
      })

            notesbtn.addEventListener("click", () => {
        if(notesdiv.classList.contains("d-none")){
          notesdiv.classList.remove("d-none");
        } else{
          notesdiv.classList.add("d-none");
        }
      })

      notesdivheader.firstElementChild.addEventListener("click", () => {
          notesdiv.classList.add("d-none");
      })
    </script>
</body>